.about-baner {
    &__bg-team {
        position: relative;
        width: 100%;
        padding-bottom: 30%;
        background: url('../img/about_page/Team.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            position: absolute;
            left: 0;
            right: 0;
            color: $white;
            top: calc(50% - 44px/2 - 0.03px);
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 13px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;

            @media (min-width:768px) {
                top: calc(50% - 56px/2 + 0.2px);
                font-size: 46px;
                line-height: 56px;
                letter-spacing: 63px;
            }

            @media (min-width:1024px) {
                top: calc(50% - 105px/2 - 0.23px);
                font-size: 86px;
            }
        }
    }
}